
body {
  background-color: #F5F6F8;
}

body {
  background-color: #efefef;
  font-size: 16px;
  color: #333;
  margin: 0;
}

h1,h2,h3,h4,h5 {
  margin: 0 0 10px 0;
  padding: 0;
}

/* headerセクション */
header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  width: 200px;
  height: auto;
  margin-left: 5px;
}

.logo-img {
  width: 100%;
}

.header-navigation {
  margin-right: 5px;
}

.header-navigation li {
  padding: 0 30px;
  text-align: center;
  list-style-type: none;
}

.header-navigation li a {
  color: #333;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}

.header-navigation {
  margin-right: 5px;
  display: flex;
}

.container {
  width: 870px;
  height: auto;
  margin: 40px auto;
}


.text-title {
  font-weight: 700;
  font-size: 36px;
}

.card-contents {
  padding: 22px 32px;
  display: block;
  margin: 30px 0;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px; 
}

.card-title {
  font-weight: 700;
  font-size: 22px;
}

.information-list {
  list-style-type: none;
  padding-left: 0;
}

.information-list li {
  margin-bottom: 10px;
}

.user-items {
  margin-top: 32px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.user-items .item {
  margin-bottom: 24px;
  margin-right: 48px;
  text-align: center;
}

.user-items .item img {
  width: 150px;
  height: 150px;
}

.user-items .item .username {
  color: #818181;
  margin: 10px auto;
}


.button {
  cursor: pointer;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
  background: #ff701e;
  border: 2px solid #ff701e;
  border-radius: 60px;
  color: #fff;
  display: block;
  font-weight: bold;
  max-width: 300px;
  padding: 15px 40px;
  text-align: center;
}

.button.reverse:hover {
  background: #fff;
  color: #ff701e;
}



footer {
  background-color: #818181;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.copyright {
  font-size: 12px;
  color: #ffffff;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
} 

a.btn {
  position:relative;
  text-decoration: none;
  color: #555555;
  font-family: 'Arial';
  font-size: 2rem;
  font-weight: bold;
  padding: 13px 50px;
  letter-spacing: 2px;
  border: 3px solid #555555;
  border-radius: 6px;
  overflow: hidden;
  transition: .3s ease-in-out;
}

.btn::before {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background: #0eecbc;
  z-index: -1;
  transition: .3s ease-in-out;
}

a.btn:hover::before {
  width: 100%;
}

a.btn:hover {
  color: white;
}